{
  "parser": "babel-eslint",
  "plugins": ["prettier"],
  "extends": ["airbnb", "prettier"],
  "env": { "jest": true },
  "globals": {
    "document": true,
    "window": true
  },
  "rules": {
    "prettier/prettier": ["error"],
    "import/no-unresolved": 0,
    "no-use-before-define": ["error", { "variables": false }],
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": 0
  }
}
