.wave-slider {
  position: relative;
  height: 500px;
  z-index: 0;
}

.wave-slider__wrapper {
  position: relative;
  z-index: 0;
  height: 100%;
}

.wave-slider__slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.wave-slider-nav {
  position: absolute;
  display: flex;
  font-size: 0;
  z-index: 1;
}

.wave-slider-nav_center {
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
}

.wave-slider-nav_right {
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  flex-direction: column;
}

.wave-slider-nav_left {
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  flex-direction: column;
}

.wave-slider-nav__item {
  display: inline-flex;
  padding: 0;
  border: 0;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  background: none;
}

.wave-slider-nav__item_active {
  border: 1px solid #fff;
}

.wave-slider-nav__points {
  border-radius: 100%;
  background-color: #fff;
}

.wave-slider-nav__point {
  position: absolute;
  border-radius: 100%;
  transition: all 300ms;
  background-color: #000;
}